.room-preview {
    width: 600px;

    .buttons {
        width: 380px;
        display: inline;
        justify-content: space-between;

        .summary {
            font-size: 10px;
        }

    }
}