.room-preview {
    width: 800px;
    height: 600px;

    .rooms {
        display: flex;
        justify-content: space-between;

    }

    .empty-message {
        font-size: 46px;
        color: red;

    }
}