.log-in-page {
    justify-content: space-between;
    height: 600px;
    display: flex;
}


.log-in-image {
    width: 65%;
    background-image: url(../../assets/images/premium_audio-wallpaper-1366x768.jpg);
}