body {
    font-family: "Open Sans Condensed";
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: teal;
    size: 20 px;
}

* {
    box-sizing: border-box;
}