.equipment-single-item {
    width: 170px;
    display: flex;
    flex-direction: column;
    //height: 250px;
    align-items: center;
    position: relative;

    // .image {
    //     width: 22vw;
    //     height: 100%;
    //     background-size: cover;
    //     background-position: center;
    //     margin-bottom: 5px;

    // }

    .submit-button {
        width: 100%;
        position: absolute;
        top: 20px;
        padding: 0px;

    }

    &:hover {
        .image {
            opacity: 0.5;
        }

        .submit-button {
            opacity: 90.5;


        }
    }


    .equipment-single-item-footer {
        // width: 22vw;
        // height: 5%;
        // display: flex;
        // justify-content: space-between;
        // font-size: 18px;
        // color: black;

        .name {
            // width: 60%;
            // margin-bottom: 15px;
        }
    }
}